  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">ARTSHOP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">HOME</a>
          </li>
          {%if logt%}
         <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {% for i in logd %}{{i}}{% endfor %}
            </div>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <li><a class="text-uppercase dropdown-item" href="{% url 'cart' %}">cart</a></li>
               <li><a class="text-uppercase dropdown-item" href="#">profile</a></li>
               <li><a class="text-uppercase dropdown-item" href="#">orders</a></li>
         
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
            </ul>
          </li>
  
        {%endif%}
          <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              PRODUCTS
            </div>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for i in catagory %} 
               <li><a class="text-uppercase dropdown-item" href="{% url 'productl' catagoryu=i.name %}">{{i.name}}</a></li>
            {% endfor %}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">PHOTOSHOOT WITH US</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contract' %}">CONTACT US</a>
          </li>
        </ul>
        <form class="d-flex" method="GET">
          <input name="search"class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="mx-2 ">
        {%if logt%}
        {% comment %} {% for i in logd %}
   <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
        {% endfor %} {% endcomment %}
        {%else%}
        
          <a class="btn btn-success" href="{% url 'login' %}">LogIn</a>
          <a class="btn btn-success" href="{% url 'signin' %}">SignUp</a>
        {%endif%}
        </div>
      </div>
    </div>
  </nav>


  </div>